compilation/bone.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bone / Main - Zaycevi NET</title>
  </head>
  <link rel="stylesheet" href="css/global.css">
  <body>
    <div class="header">
      <div class="aunit"><a href="/" target="_blank"><img src="img/banner_up.jpg"></a>
        <button class="v-square icon th-trans-white"><i class="icon-cross"></i></button>
      </div>
    </div>
    <div class="wrapper">
      <div class="panel">
        <div>
          <div class="logo"><a href="/"><img src="img/logo.png"></a></div>
          <div class="mainmenu">
            <div><a href="/"><span>Новинки за сегодня</span></a><a href="/"><span>Новинки mp3</span></a><a href="/"><span>Русские новинки</span></a><a href="/"><span>Зарубежные новинки</span></a><a href="/"><span>Клубные новинки</span></a><a href="/"><span>Радио новинки</span></a><a href="/"><span>Исполнители</span></a><a href="/"><span>Жанры</span></a></div>
          </div>
        </div>
      </div>
      <div class="toolbar">
        <div>
          <div class="textbox complex">
            <input type="text" placeholder="Найти композицию или исполнителя"><i class="icon-search"></i>
          </div>
          <div class="control"><a href="/"><span>Регистрация</span></a><a href="/"><i class="icon-user"></i></a></div>
        </div>
      </div>
      <div class="page">
        <div class="container-fluid">
          <div class="col-lg-12">
            <h1>Тонны mp3 музыки</h1>
            <p>Вы находитесь на сайте музыкальных новинок и хитов — Зайцев.нет. Начните с раздела русских новинок, здесь собраны новинки отечественных исполнителей (российских, украинских и белорусских). Мы постоянно обновляем каталоги музыкальными новинками зарубежных исполнителей и диджеев. На ваш выбор представлены жанры – от Pop, Dubstep, Rap до Шансона и Рока. Будь активным меломаном – составляй личный плейлист и слушай любимую музыку. Приятного прослушивания =)</p>
            <button class="v-link th-link1"><span>Читать полностью ...</span></button>
          </div>
          <div class="col-lg-12">
            <h3>Тонны музыки</h3>
            <div class="tracklist">
              <div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
                <div class="track a-player">
                  <div class="management">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                    </div>
                    <div class="information">сегодня</div>
                  </div>
                  <div class="management rtl">
                    <div class="control">
                      <button class="icon th-trans-gray"><i class="icon-plus"></i></button>
                    </div>
                    <div class="information">2:02</div>
                  </div>
                  <div class="text">
                    <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                  </div>
                </div>
              </div>
              <div class="more">
                <button class="v-rect oval th-gray"><span>Показать еще</span></button>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="aunit"><a href="/" target="_blank"><img src="img/banner_conent.jpg"></a>
              <button class="v-square icon th-trans-white"><i class="icon-cross"></i></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-5 col-sm-3 hidden-sm"><img src="img/temporary1.jpg" title="" style="width: 100%">
          </div>
          <div class="col-lg-6 col-md-7 col-sm-12">
            <div class="title"><span>Популярные исполнители</span></div>
            <div class="artists">
              <div><a href="/"><img src="img/temporary2.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div><a href="/"><img src="img/temporary3.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div><a href="/"><img src="img/temporary4.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div><a href="/"><img src="img/temporary5.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div><a href="/"><img src="img/temporary6.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div><a href="/"><img src="img/temporary7.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div class="visible-md"><a href="/"><img src="img/temporary8.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div class="visible-md"><a href="/"><img src="img/temporary9.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div class="visible-md"><a href="/"><img src="img/temporary10.jpg">
                  <div class="name">Исполнитель</div></a></div>
              <div class="visible-md"><a href="/"><img src="img/temporary11.jpg">
                  <div class="name">Исполнитель</div></a></div>
            </div>
          </div>
        </div>
        <div class="r-column container-fluid">
          <div class="col-lg-12 visible-lg">
            <div class="aunit"><a href="/" target="_blank"><img src="img/banner_right.jpg"></a>
              <button class="v-square icon th-trans-white"><i class="icon-cross"></i></button>
            </div>
          </div>
          <div class="col-lg-12 visible-lg">
            <div class="latest">
              <h3>Новинки mp3</h3>
              <div class="tracklist">
                <div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                </div>
                <div class="more">
                  <button class="v-rect oval th-gray"><span>Показать еще</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-4 col-sm-6">
            <div class="vk"><img src="img/vk.jpg"></div>
          </div>
          <div class="col-lg-12 col-md-8 col-sm-6">
            <div class="about">
              <div class="logo"><a href="/"><img src="img/logo.png"></a></div>
              <div class="links"><a href="/"><span>Контакты</span></a><a href="/"><span>Правообладателям</span></a><a href="/"><span>Обращение к пользователям</span></a></div>
              <div class="copy"><span>Все права защищены 2015</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div>
          <div class="m-player">
            <div class="bar">
              <div class="line basic"></div>
              <div style="width:30%" class="line current">
                <div class="marker"></div>
              </div>
            </div>
            <div class="management">
              <button class="v-square icon th-trans-gray"><i class="icon-playlist"></i></button>
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-previous"></i></button>
                <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                <button class="icon th-trans-gray"><i class="icon-next"></i></button>
              </div>
            </div>
            <div class="management rtl">
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-download"></i></button>
                <button class="icon th-trans-gray"><i class="icon-favorites"></i></button>
                <button class="icon th-trans-gray"><i class="icon-share"></i></button>
              </div>
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-repeat"></i></button>
                <button class="icon th-trans-gray"><i class="icon-volume"></i></button>
              </div>
            </div>
            <div class="text">
              <div><span class="name">Название композиции</span><span class="artist">Испонитель </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
        var scrolled;
        
        if(scrolled>100) {
            $("body").addClass("hello");
        }
        else {
            $("body").removeClass("hello");
        }
    });
    
    window.onscroll = function() {
        var scrolled = window.pageYOffset || document.documentElement.scrollTop;
        console.log(scrolled);
        
        if(scrolled>100) {
            $("body").addClass("panel-fixed ");
        }
        else {
            $("body").removeClass("panel-fixed ");
        }
    }
  </script>
</html>

source/jade/bone.jade
extends _wrapper

block title
    title Bone / Main - Zaycevi NET

block content
    div.container-fluid
        div.col-lg-12
            h1 Тонны mp3 музыки
            p Вы находитесь на сайте музыкальных новинок и хитов — Зайцев.нет. Начните с раздела русских новинок, здесь собраны новинки отечественных исполнителей (российских, украинских и белорусских). Мы постоянно обновляем каталоги музыкальными новинками зарубежных исполнителей и диджеев. На ваш выбор представлены жанры – от Pop, Dubstep, Rap до Шансона и Рока. Будь активным меломаном – составляй личный плейлист и слушай любимую музыку. Приятного прослушивания =)
            button.v-link.th-link1: span Читать полностью ...

        div.col-lg-12
            h3 Тонны музыки
            include blocks/tracklist


        div.col-lg-12
            div.aunit
                a(href="/", target="_blank"): img(src="img/banner_conent.jpg")
                button.v-square.icon.th-trans-white: i.icon-cross

        div.col-lg-6.col-md-5.col-sm-3.hidden-sm
            //- div.title: span.hide Twitter
            img(src="img/temporary1.jpg", title="", style="width: 100%")

        div.col-lg-6.col-md-7.col-sm-12
            div.title: span Популярные исполнители
            div.artists
                - for(var i=2;i<12;i++)
                    - var name = "img/temporary" + i + ".jpg"
                        if i>7
                            div.visible-md: a(href="/")
                                img(src="#{name}")
                                div.name Исполнитель
                        else 
                            div: a(href="/")
                                img(src="#{name}")
                                div.name Исполнитель



    div.r-column.container-fluid
        div.col-lg-12.visible-lg
            div.aunit
                a(href="/", target="_blank"): img(src="img/banner_right.jpg")
                button.v-square.icon.th-trans-white: i.icon-cross

        div.col-lg-12.visible-lg
            div.latest
                h3 Новинки mp3
                div.tracklist
                    div
                        - for(var i=0;i<5;i++)
                            div.track.a-player.m-hide
                                div.management.rtl
                                    div.information 2:02

                                div.text: div
                                    span.name Название композиции
                                    span.artist Испонитель

                    div.more
                        button.v-rect.oval.th-gray: span Показать еще

        div.col-lg-12.col-md-4.col-sm-6
            div.vk: img(src="img/vk.jpg")

        div.col-lg-12.col-md-8.col-sm-6
            div.about
                div.logo: a(href="/")
                    img(src="img/logo.png")

                div.links
                    a(href="/"): span Контакты
                    a(href="/"): span Правообладателям
                    a(href="/"): span Обращение к пользователям


                div.copy: span Все права защищены 2015
