compilation/elements.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Elements - Zaycevi NET</title>
  </head>
  <link rel="stylesheet" href="css/global.css">
  <body>
    <div class="header">
      <div class="aunit"><a href="/" target="_blank"><img src="img/banner_up.jpg"></a>
        <button class="v-square icon th-trans-white"><i class="icon-cross"></i></button>
      </div>
    </div>
    <div class="wrapper">
      <div class="panel">
        <div>
          <div class="logo"><a href="/"><img src="img/logo.png"></a></div>
          <div class="mainmenu">
            <div><a href="/"><span>Новинки за сегодня</span></a><a href="/"><span>Новинки mp3</span></a><a href="/"><span>Русские новинки</span></a><a href="/"><span>Зарубежные новинки</span></a><a href="/"><span>Клубные новинки</span></a><a href="/"><span>Радио новинки</span></a><a href="/"><span>Исполнители</span></a><a href="/"><span>Жанры</span></a></div>
          </div>
        </div>
      </div>
      <div class="toolbar">
        <div>
          <div class="textbox complex">
            <input type="text" placeholder="Найти композицию или исполнителя"><i class="icon-search"></i>
          </div>
          <div class="control"><a href="/"><span>Регистрация</span></a><a href="/"><i class="icon-user"></i></a></div>
        </div>
      </div>
      <div class="page">
        <div class="container-fluid ui-wrapper">
          <div class="col-lg-12">
            <button class="v-square icon th-trans-gray"><i class="icon-playlist"></i></button>
            <button class="v-square icon th-trans-gray"><i class="icon-previous"></i></button>
            <button class="v-square icon th-trans-gray active"><i class="icon-play"></i></button>
            <button class="v-square icon th-trans-gray"><i class="icon-pause"></i></button>
            <button class="v-square icon th-trans-gray"><i class="icon-next"></i></button>
            <button class="v-square icon th-trans-gray"><i class="icon-download"></i></button>
            <button class="v-square icon th-trans-gray"><i class="icon-favorites"></i></button>
            <button class="v-square icon th-trans-gray"><i class="icon-share"></i></button>
            <button class="v-square icon th-trans-gray"><i class="icon-repeat"></i></button>
            <button class="v-square icon th-trans-gray"><i class="icon-volume"></i></button>
          </div>
          <div class="col-lg-12">
            <button class="v-rect oval th-gray"><span>Button: Oval, Gray</span></button>
            <button class="v-rect round th-gray"><span>Button: Rounded, Gray</span></button>
            <button class="v-circle th-gray"><i class="icon-favorites"></i></button>
          </div>
          <div class="col-lg-12">
            <button class="v-rect oval th-highlight1"><span>Button: Oval, Highlight1</span></button>
            <button class="v-rect round th-highlight1"><span>Button: Rounded, Highlight1</span></button>
            <button class="v-circle th-highlight1"><i class="icon-favorites"></i></button>
          </div>
          <div class="col-lg-12">
            <div class="paginator horizontal"><a href="/"><span>1</span></a><a href="/"><span>2</span></a><a href="/" class="active"><span>3</span></a><a href="/"><span>4</span></a><a href="/"><span>5</span></a><a href="/"><span>6</span></a></div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div>
          <div class="m-player">
            <div class="bar">
              <div class="line basic"></div>
              <div style="width:30%" class="line current">
                <div class="marker"></div>
              </div>
            </div>
            <div class="management">
              <button class="v-square icon th-trans-gray"><i class="icon-playlist"></i></button>
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-previous"></i></button>
                <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                <button class="icon th-trans-gray"><i class="icon-next"></i></button>
              </div>
            </div>
            <div class="management rtl">
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-download"></i></button>
                <button class="icon th-trans-gray"><i class="icon-favorites"></i></button>
                <button class="icon th-trans-gray"><i class="icon-share"></i></button>
              </div>
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-repeat"></i></button>
                <button class="icon th-trans-gray"><i class="icon-volume"></i></button>
              </div>
            </div>
            <div class="text">
              <div><span class="name">Название композиции</span><span class="artist">Испонитель </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
        var scrolled;
        
        if(scrolled>100) {
            $("body").addClass("hello");
        }
        else {
            $("body").removeClass("hello");
        }
    });
    
    window.onscroll = function() {
        var scrolled = window.pageYOffset || document.documentElement.scrollTop;
        console.log(scrolled);
        
        if(scrolled>100) {
            $("body").addClass("panel-fixed ");
        }
        else {
            $("body").removeClass("panel-fixed ");
        }
    }
  </script>
</html>

source/jade/elements.jade
extends _wrapper

block title
    title Elements - Zaycevi NET

block content
    div.container-fluid.ui-wrapper
        div.col-lg-12
            button.v-square.icon.th-trans-gray: i.icon-playlist
            button.v-square.icon.th-trans-gray: i.icon-previous
            button.v-square.icon.th-trans-gray.active: i.icon-play
            button.v-square.icon.th-trans-gray: i.icon-pause
            button.v-square.icon.th-trans-gray: i.icon-next
            button.v-square.icon.th-trans-gray: i.icon-download
            button.v-square.icon.th-trans-gray: i.icon-favorites
            button.v-square.icon.th-trans-gray: i.icon-share
            button.v-square.icon.th-trans-gray: i.icon-repeat
            button.v-square.icon.th-trans-gray: i.icon-volume

        div.col-lg-12
            button.v-rect.oval.th-gray: span Button: Oval, Gray
            button.v-rect.round.th-gray: span Button: Rounded, Gray
            button.v-circle.th-gray: i.icon-favorites

        div.col-lg-12
            button.v-rect.oval.th-highlight1: span Button: Oval, Highlight1
            button.v-rect.round.th-highlight1: span Button: Rounded, Highlight1
            button.v-circle.th-highlight1: i.icon-favorites

        div.col-lg-12
            div.paginator.horizontal
                a(href="/"): span 1
                a(href="/"): span 2
                a(href="/").active: span 3
                a(href="/"): span 4
                a(href="/"): span 5
                a(href="/"): span 6
