source/jade/my profile.jade
extends _wrapper

block title
    title My Profile - Zaycevi NET

block content
    div.container-fluid
        div.col-lg-12
            include blocks/breadcumbs
            
        div.col-lg-12
            h1 Мой профиль

            div.cutaway
                div.pic.user: img(src="img/temporary13.jpg")
                div.user
                    div.briefly
                        span Danil Chunikhin
                        a(href="/"): span danil@chunikhin.com

                    button.v-rect.round.th-highlight1: span Настройки

        div.table.flatbtn
            div.row
                a(href="/")
                    Моя музыка
                    i.icon-cross

                a(href="/")
                    История прослушивания
                    i.icon-cross

    div.r-column.container-fluid
        div.col-lg-12.visible-lg
            div.aunit
                a(href="/", target="_blank"): img(src="img/banner_right.jpg")
                button.v-square.icon.th-trans-white: i.icon-cross

        div.col-lg-12.visible-lg
            div.latest
                h3 Новинки mp3
                div.tracklist
                    div
                        - for(var i=0;i<5;i++)
                            div.track.a-player.m-hide
                                div.management.rtl
                                    div.information 2:02

                                div.text: div
                                    span.name Название композиции
                                    span.artist Испонитель

                    div.more
                        button.v-rect.oval.th-gray: span Показать еще

        div.col-lg-12.col-md-4.col-sm-6
            div.vk: img(src="img/vk.jpg")

        div.col-lg-12.col-md-8.col-sm-6
            div.about
                div.logo: a(href="/")
                    img(src="img/logo.png")

                div.links
                    a(href="/"): span Контакты
                    a(href="/"): span Правообладателям
                    a(href="/"): span Обращение к пользователям


                div.copy: span Все права защищены 2015

compilation/my profile.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Profile - Zaycevi NET</title>
  </head>
  <link rel="stylesheet" href="css/global.css">
  <body>
    <div class="header">
      <div class="aunit"><a href="/" target="_blank"><img src="img/banner_up.jpg"></a>
        <button class="v-square icon th-trans-white"><i class="icon-cross"></i></button>
      </div>
    </div>
    <div class="wrapper">
      <div class="panel">
        <div>
          <div class="logo"><a href="/"><img src="img/logo.png"></a></div>
          <div class="mainmenu">
            <div><a href="/"><span>Новинки за сегодня</span></a><a href="/"><span>Новинки mp3</span></a><a href="/"><span>Русские новинки</span></a><a href="/"><span>Зарубежные новинки</span></a><a href="/"><span>Клубные новинки</span></a><a href="/"><span>Радио новинки</span></a><a href="/"><span>Исполнители</span></a><a href="/"><span>Жанры</span></a></div>
          </div>
        </div>
      </div>
      <div class="toolbar">
        <div>
          <div class="textbox complex">
            <input type="text" placeholder="Найти композицию или исполнителя"><i class="icon-search"></i>
          </div>
          <div class="control"><a href="/"><span>Регистрация</span></a><a href="/"><i class="icon-user"></i></a></div>
        </div>
      </div>
      <div class="page">
        <div class="container-fluid">
          <div class="col-lg-12">
            <div class="breadcumbs">
              <div><a href="/"><span>Хлебная крошка</span></a></div>
              <div>Хлебная крошка</div>
            </div>
          </div>
          <div class="col-lg-12">
            <h1>Мой профиль</h1>
            <div class="cutaway">
              <div class="pic user"><img src="img/temporary13.jpg"></div>
              <div class="user">
                <div class="briefly"><span>Danil Chunikhin</span><a href="/"><span>danil@chunikhin.com</span></a></div>
                <button class="v-rect round th-highlight1"><span>Настройки</span></button>
              </div>
            </div>
          </div>
          <div class="table flatbtn">
            <div class="row"><a href="/">Моя музыка<i class="icon-cross"></i></a><a href="/">История прослушивания<i class="icon-cross"></i></a></div>
          </div>
        </div>
        <div class="r-column container-fluid">
          <div class="col-lg-12 visible-lg">
            <div class="aunit"><a href="/" target="_blank"><img src="img/banner_right.jpg"></a>
              <button class="v-square icon th-trans-white"><i class="icon-cross"></i></button>
            </div>
          </div>
          <div class="col-lg-12 visible-lg">
            <div class="latest">
              <h3>Новинки mp3</h3>
              <div class="tracklist">
                <div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                  <div class="track a-player m-hide">
                    <div class="management rtl">
                      <div class="information">2:02</div>
                    </div>
                    <div class="text">
                      <div><span class="name">Название композиции</span><span class="artist">Испонитель</span></div>
                    </div>
                  </div>
                </div>
                <div class="more">
                  <button class="v-rect oval th-gray"><span>Показать еще</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-4 col-sm-6">
            <div class="vk"><img src="img/vk.jpg"></div>
          </div>
          <div class="col-lg-12 col-md-8 col-sm-6">
            <div class="about">
              <div class="logo"><a href="/"><img src="img/logo.png"></a></div>
              <div class="links"><a href="/"><span>Контакты</span></a><a href="/"><span>Правообладателям</span></a><a href="/"><span>Обращение к пользователям</span></a></div>
              <div class="copy"><span>Все права защищены 2015</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div>
          <div class="m-player">
            <div class="bar">
              <div class="line basic"></div>
              <div style="width:30%" class="line current">
                <div class="marker"></div>
              </div>
            </div>
            <div class="management">
              <button class="v-square icon th-trans-gray"><i class="icon-playlist"></i></button>
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-previous"></i></button>
                <button class="icon th-trans-gray"><i class="icon-play"></i></button>
                <button class="icon th-trans-gray"><i class="icon-next"></i></button>
              </div>
            </div>
            <div class="management rtl">
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-download"></i></button>
                <button class="icon th-trans-gray"><i class="icon-favorites"></i></button>
                <button class="icon th-trans-gray"><i class="icon-share"></i></button>
              </div>
              <div class="control">
                <button class="icon th-trans-gray"><i class="icon-repeat"></i></button>
                <button class="icon th-trans-gray"><i class="icon-volume"></i></button>
              </div>
            </div>
            <div class="text">
              <div><span class="name">Название композиции</span><span class="artist">Испонитель </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
        var scrolled;
        
        if(scrolled>100) {
            $("body").addClass("hello");
        }
        else {
            $("body").removeClass("hello");
        }
    });
    
    window.onscroll = function() {
        var scrolled = window.pageYOffset || document.documentElement.scrollTop;
        console.log(scrolled);
        
        if(scrolled>100) {
            $("body").addClass("panel-fixed ");
        }
        else {
            $("body").removeClass("panel-fixed ");
        }
    }
  </script>
</html>
